/*Code by DrewBStew*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FED420;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.center-div {
  max-width: 850px;
  display: block;
  margin:auto;
}

/*NEW QUOTE*/

.new-quote {
  margin-top: 50px;
}

#new-quote-btn {
  border-radius: 15px;
  background-color: white;
  padding: 15px;
}

#new-quote-btn:hover {
  color: white;
  background-color: black;
}

/*QUOTE BOX*/

.quote-box {
  margin:auto;
  display: block;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
}

.quote-box p {
  color: black;
  padding-bottom: 15px;
  font-size: 24px;
}

.quote-box p i {
  color: inherit;
}

.quote-box .inner-box {
  padding: 25px;
}

.quote-box .row {
  display: block;
}

#quote-info {
  text-align: right;
  font-size: 18px;
}

.social-links a {
  font-size: 32px;
}


/*ATTRIBUTIONS*/

.attributions {
  margin:auto;
  display: block;
  text-align: right;
}

.attributions a {
  color: blue;
}

.attributions a:hover {
  text-decoration: underline;
  color: blue;
}

.attributions p {
  margin-top: 5px;
  font-size: 14px;
}

.attributions p a {
  color: blue;
}

/*HOMER IMAGES*/

.homer-images {
  display:block;
}

.homer-images .homer-head-left {
  float:left;
}

.homer-images .homer-head-right {
  transform: scaleX(-1);
  float:right;
}
