/*
Code by DrewBStew
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FED420;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.center-div {
  max-width: 850px;
  display: block;
  margin:auto;
  padding: 0 25px;
}

/*
NEW QUOTE
*/

.new-quote {
  margin-top: 50px;
}

#new-quote-btn {
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  display:block;
  text-align: center;
  box-shadow: 5px 5px 5px #999;
}

#new-quote-btn:hover {
  color: white;
  background-color: black;
}

/*
QUOTE BOX
*/

.quote-box {
  margin:auto;
  display: block;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  min-height: 200px;
}

#quote {
  color: black;
  padding-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  height: 100px;
}

.quote-box p i {
  color: inherit;
}

.inner-box {
  padding: 25px;
}

.quote-box .row {
  display: block;
}

#quote-info {
  text-align: right;
  font-size: 18px;

}

.social-links {
  bottom: 100;
}

.social-links a {
  font-size: 48px;
}

#twitter-btn:hover {
  color:#00aced;
}


/*
ATTRIBUTIONS
*/

.attributions {
  margin:auto;
  display: block;
  text-align: right;
}

.attributions a {
  color: blue;
}

.attributions a:hover {
  text-decoration: underline;
  color: blue;
}

.attributions p {
  margin-top: 5px;
  font-size: 14px;
}

.attributions p a {
  color: blue;
}

/*
HOMER IMAGES
*/

.homer-images {
  display:block;
}

.homer-images .homer-head-left {
  float:left;
}

.homer-images .homer-head-right {
  transform: scaleX(-1);
  float:right;
}

/*
MEDIA QUERIES
*/

@media (max-width: 800px) {

  .homer-head-right {
    width:50%;
  }

  .homer-head-right img {
    width: 100%;
  }

  .homer-head-left {
    width: 50%;
  }

  .homer-head-left img {
    width: 100%;
  }
}
